@import "../../variable";

/* DEFINIG CAROUSEL THINGS */

.carouselContainer{
  min-height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 65px;
}

.carouselContainer p {
  color: $black;
  font-size: 2rem;
  padding: 20px;
  background-color: hsla(0, 0%, 100%, 0.6);
}

/* END DEFINIG CAROUSEL THINGS */

/* CAROUSEL BACKGROUND IMG ANIMATION */

.carouselContainer{
  background-position: center center;
  background-size: 110%;

  animation: zoominout 8s infinite alternate;
}

@keyframes zoominout {
  0% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}

/* END CAROUSEL BACKGROUND IMG ANIMATION */

/* CUSTOMIZING CAROUSEL LIB */

.rec.rec-dot_active{
  background: $primary-color;
  box-shadow: 0 0 1px 2px rgba(231, 125, 54, 0.35);
}

.rec.rec-pagination {
  margin-top: -22px;
  z-index: 2;
}

.rec.rec-dot, .rec.rec-dot:hover:enabled  {
  box-shadow: 0 0 1px 2px white;
}

.rec.rec-arrow:hover:enabled, .rec.rec-arrow:focus:enabled {
  background-color: $primary-color;
}

.rec.rec-arrow{
  z-index: 2;
  position: absolute;
  background-color: white;
  box-shadow: inset 0 0 0 2px $primary-color;
}

.rec.rec-arrow-right{
  right: 0;
}

.rec.rec-slider-container {
  margin: 0;
  border: 0;
}

/* END CUSTOMIZING CAROUSEL LIB */
