/** Navbar fixes **/

body {
  padding-top: 4rem;
}

.navbar-logo img, .navbar-logo {
  max-height: 4rem;
}

.navbar-brand > .navbar-burger {
  height: auto;
}

.navDropSvg {
  width: 60%;
  max-height: 100px;
}

.navbar > .navbar-menu {
  overflow-x: hidden !important;
}

.navShadow {
  box-shadow: 0 4px 6px 0 hsl(0, 0%, 40%);
}

/** END Navbar fixes **/
