.Presentation{
  margin-left:15px;
  margin-right:15px;

  h1{
    margin-top:20px;
    font-size:1.5em;
    text-align: center;
  }
  hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
  }

  hr:after {
    background: #fff;
    content: '§';
    padding: 0 3px;
    position: relative;
    top: -13px;
  }

  blockquote{
    text-align:center;
    position  : relative;
    padding : 1em 2em;
  }
  blockquote::before,
  blockquote::after {
    position: absolute;
    height  : 3rem;
    font    : 6rem/100% Georgia, "Times New Roman", Times, serif;
  }

  blockquote::before {
    content: '“';
    top    : 0.3rem;
    left   : 0.9rem;
  }
  blockquote::after {
    content: '”';
    bottom : 0.3rem;
    right  : 0.8rem;
  }
  blockquote i {
    display   : block;
    font-size : 0.8em;
    padding-right:25px;
    margin-top: 1rem;
    font-style: italic;
    text-align: right;
  }
}

@media screen and (min-width: 1650px) {
  .Presentation {
    blockquote::before {
      content: '“';
      top: 0.3rem;
      left: 0.9rem;
      padding-left: 100px;
    }

    blockquote::after {
      content: '”';
      bottom: 0.3rem;
      right: 0.8rem;
      padding-right: 100px;
    }

    blockquote i {
      display: block;
      font-size: 0.8em;
      margin-right: 8rem;
      margin-top: 1rem;
      font-style: italic;
      text-align: right;
    }
  }
}
@media screen and (min-width: 1300px)and (max-width: 1650px){
  .Presentation {
    blockquote::before {
      content: '“';
      top: 0.3rem;
      left: 0.9rem;
      padding-left: 100px;
    }

    blockquote::after {
      content: '”';
      bottom: 0.3rem;
      right: 0.8rem;
      padding-right: 100px;
    }

    blockquote i {
      display: block;
      font-size: 0.8em;
      margin-right: 8rem;
      margin-top: 1rem;
      font-style: italic;
      text-align: right;
    }
  }
}
