.inputWarning{
  width: 50%;
}

/** REGISTER GLOBAL CONTAINER */

.registerContainer{
  width: 90%;
  margin: auto;
}

@media (min-width: 720px) {
  .registerContainer{
    width: 20%;
    min-width: 480px;
  }
}

/** END REGISTER GLOBAL CONTAINER */
