@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set colors
$primary-color: hsl(24, 79%, 56%);
$black: hsl(0, 0%, 20%);
$black-darker: hsl(0, 0%, 10%);

// Set bulma variables
$primary: $primary-color;
$navbar-item-hover-color: $primary-color;
$navbar-dropdown-arrow: $primary-color;
$link: $primary-color;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import '../node_modules/bulma/sass/components/navbar';
@import '../node_modules/bulma/sass/components/dropdown';
@import '../node_modules/bulma/sass/components/menu';
@import '../node_modules/bulma/sass/components/card';
@import '../node_modules/bulma/sass/elements/button';
@import '../node_modules/bulma/sass/elements/container';
@import '../node_modules/bulma/sass/elements/title';
@import '../node_modules/bulma/sass/grid/columns';
@import '../node_modules/bulma/sass/helpers/color';
@import '../node_modules/bulma/sass/helpers/flexbox';
@import '../node_modules/bulma/sass/helpers/position';
@import '../node_modules/bulma/sass/helpers/spacing';
@import '../node_modules/bulma/sass/helpers/typography';
@import '../node_modules/bulma/sass/helpers/visibility';
@import '../node_modules/bulma/sass/layout/_all';
@import '../node_modules/bulma/sass/form/all';
@import '../node_modules/bulma/sass/grid/tiles';
@import '../node_modules/bulma/sass/elements/content';
@import '../node_modules/bulma/sass/elements/notification';

