@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set colors
$primary-color: hsl(24, 79%, 56%);
$black: hsl(0, 0%, 20%);
$black-darker: hsl(0, 0%, 10%);

// Set bulma variables
$primary: $primary-color;
$navbar-item-hover-color: $primary-color;
$navbar-dropdown-arrow: $primary-color;
$link: $primary-color;

// Import only what you need from Bulma
@import '../node_modules/bulma/bulma';
